/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: burlywood;
    color: #333;
    padding: 20px;
}

h1,
h2,
h3 {
    font-family: 'Georgia', serif;
    font-weight: bold;
    color: #2e74b5;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-decoration: underline;

}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

a {
    color: #006600;
    text-decoration: underline;
}

a:hover {
    text-decoration: solid;
}

.highlight {
    background-color: #ffd700;
    padding: 5px;
    border-radius: 5px;
}

.image {
    width: 30%;
    float: right;
}